<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>

            {% block styles %}
                {{ bootstrap.load_css() }}
            {% endblock %}

            <title>SUSTech</title>
        {% endblock %}
    </head>
    <body>
        {% block flash %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block scripts %}
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>
